* {
  margin: 0px;
  padding: 0px;
}

:root {
  --var-bg-color: rgba(252, 207, 139, 1);
  --var-prim-font-family: "Righteous", sans-serif;
  --var-sec-font-family: "Abhaya Libre", serif;
}

body {
  background-color: var(--var-bg-color);
  font-family: var(--var-prim-font-family);
  animation: trans 1s ease;
}
@keyframes trans {
  0% {
    opacity: 25%;
  }
  100% {
    opacity: 100%;
  }
}

/* NAVBAR */
nav {
  width: 100%;
  /* background-color: pink; */
  padding: 20px 0px;
  /* background-color: rgba(252, 207, 139, 0); */
  font-family: var(--var-prim-font-family);
}

nav ul {
  display: flex;
  text-align: center;
  justify-content: center;
}

nav ul li {
  list-style: none;
  padding: 0px 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding-bottom: 4px;
}
nav ul li a:hover {
  color: #0e6501;
  border-bottom: 4px solid #0e6501;
  transition: 0.2s;
}
/* END OF NAVBAR */

/* HERO */
#container,
footer {
  font-family: var(--var-prim-font-family);
}
/* BANNER */
#banner {
  background-color: black;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: 10%;
}
.judul {
  font-size: 15px;
  font-weight: lighter;
  text-align: center;
}

.menu {
  margin: 20px 0px;
}
.menu-menu {
  text-align: center;
  font-size: 17px;
  font-weight: lighter;
}

#split {
  display: flex;
  /* justify-content: center; */
}

/* MENU COFFEE */
.Coffee {
  width: 35%;
  margin: 0px 10%;
  padding: 5px;
}
.title-coffee {
  text-align: center;
  font-weight: lighter;
}
.price-kopsu,
.price-kopren,
.price-cappucino,
.price-tiramissu {
  float: right;
}

.kopsu,
.kopren,
.cappucino,
.tiramissu {
  padding-top: 5px;
}
.coffee-tit {
  font-size: 20px;
}
.desc-coffee {
  font-size: 12px;
}

/* MENU NON-COFFEE */
.non-Coffee {
  width: 35%;
  padding: 5px;
}
.title-non-coffee {
  text-align: center;
  font-weight: lighter;
}
.price-black-tea,
.price-milk-tea,
.price-others {
  float: right;
}

.black-tea,
.milk-tea,
.others {
  padding-top: 5px;
}
.tea-title {
  font-size: 20px;
}
.desc-tea {
  font-size: 12px;
}

/* SNACK */
.Snack {
  width: 35%;
  padding: 5px;
  margin-left: 32%;
}
.title-snack {
  text-align: center;
  font-weight: lighter;
}
.price-sampler,
.price-kentang {
  float: right;
}

.sampler,
.kentang {
  padding-top: 5px;
}
.title-sampler,
.title-kentang {
  font-size: 20px;
}
.desc-snack {
  font-size: 12px;
}

#main-content hr {
  border: 1px dashed black;
}

.social-media {
  margin-top: 100px;
  justify-content: center;
  align-content: center;
  margin-left: 48.5%;
}
footer {
  text-align: center;
}
