* {
  margin: 0px;
  padding: 0px;
}

:root {
  --var-bg-color: rgba(252, 207, 139, 1);
  --var-prim-font-family: "Righteous", sans-serif;
  --var-sec-font-family: "Abhaya Libre", serif;
}

body {
  background-color: var(--var-bg-color);
  font-family: var(--var-prim-font-family);
  animation: trans 1s ease;
}
@keyframes trans {
  0% {
    opacity: 25%;
  }
  100% {
    opacity: 100%;
  }
}

/* NAVBAR */
nav {
  width: 100%;
  /* background-color: pink; */
  padding: 20px 0px;
  /* background-color: rgba(252, 207, 139, 0); */
  font-family: var(--var-prim-font-family);
}

nav ul {
  display: flex;
  text-align: center;
  justify-content: center;
}

nav ul li {
  list-style: none;
  padding: 0px 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding-bottom: 4px;
}
nav ul li a:hover {
  color: #0e6501;
  border-bottom: 4px solid #0e6501;
  transition: 0.2s;
}
/* END OF NAVBAR */

/* HERO */
#container,
footer {
  font-family: var(--var-prim-font-family);
}
/* BANNER */
#banner {
  background-color: black;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: 10%;
}
.judul {
  font-size: 15px;
  font-weight: lighter;
  text-align: center;
}
.wrapper {
  max-width: 70%;
  height: 450px;
  display: flex;
  margin-left: 15%;
  margin-top: 2%;
}

.left img {
  height: 430px;
}

.right p {
  font-family: var(--var-sec-font-family);
  padding: 0px 10px;
}

.desc-place {
  background-color: white;
  border: 1px solid black;
}
.description {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 30px;
  font-size: large;
}

.right h2 {
  font-size: 17px;
  padding: 9px 0px;
}

.social-media {
  margin-top: 64px;
  justify-content: center;
  align-content: center;
  margin-left: 48.5%;
}
footer {
  text-align: center;
}
